.sidebarOption {
    max-width: fit-content;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 2px;
}

.sidebarOption:hover {
	background-color: #0b3096;
	border-radius: 30px;
	color: var(--twitter-color);
	transition: color 100ms ease-out;
}
.sidebarOption > h3 {
	font-weight: 800;
	font-size: 20px;
	margin-right: 20px;
}

.sidebarOption--active {
	color: var(--twitter-color);
}